<div class="booyah-box col-10 offset-1">
    <h1><%= @travel.name %></h1>
    <i><%= @travel.address %></i>
    <br/><br/>
    <p><%= @travel.description %></p>
    <div class="float-right">
        <%= link_to 'Edit', edit_travel_path(@travel), class: 'btn btn-primary' %>
        <%= link_to 'Destroy', travel_path(@travel), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
    </div>
</div>